<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper  indigo accent-2">
      <a href="#" class="brand-logo center">Awesome <span class="fa fa-scissors" aria-hidden="true"></span> Locks</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#" ng-click="navCtrl.home()">Home</a></li>
        <li><a href="#" ng-click="navCtrl.about()">About</a></li>
        <li><a href="#" ng-click="navCtrl.contact()">Contact Us</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" ng-click="navCtrl.cart()"><span class="fa fa-shopping-cart fa-3x" aria-hidden="true"></span></a></li>
      </ul>
    </div>
  </nav>
</div>
